@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {
    * {
        transition: 0.1s;
    }

    body {
        background: rgb(32, 32, 32);
        color: #fff;
    }

    button {
        color: #fff;
        padding: 5px 10px;
        border-radius: 0;
        border: 3px solid rgb(53, 53, 53);
        background-color: rgb(53, 53, 53);
        cursor: pointer;

    }

    button:hover {
        border: 3px solid rgb(60, 60, 60);
    }

    button:active {
        background-color: rgb(45, 45, 45);
        border: 3px solid rgb(45, 45, 45);
        transform: scale(0.95);
    }
}